* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40rem;
  height: 40rem;
  border: 1px solid red;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .sun {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 4rem white, 0 0 5rem white;
}

.earth {
  --diameter: 30;
  --duration: 36.5;
}

.earth {
  position: absolute;
  width: calc(var(--diameter) * 1rem);
  height: calc(var(--diameter) * 1rem);
  border-radius: 50%;
  border-style: solid solid none none;
  border-color: silver transparent transparent transparent;
  border-width: 0.1rem;
  animation: move 365 linear infinite;
}

@keyframes move {
}
